<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Cadastro</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <meta charset="UTF-8" />
    </head>

    <body>
        <div class="container">
            <h2>Cadastro</h2>
            <form th:action="@{/auth/register}" method="post" th:object="${authRequest}">
                <input type="text" th:field="*{username}" placeholder="Email" required/>
                <input type="password" th:field="*{password}" placeholder="Senha" required/>
                <button type="submit">Registrar</button>
            </form>
            <div th:if="${message}">
                <p th:text="${message}"></p>
            </div>
            <a href="/auth/login">Já tem conta? Login</a>
        </div>
    </body>
</html>
